body {
  overflow-x: hidden;
  background: rgb(255, 255, 255);
}

.navigation {
    background-color: #353535;
    display: flex;
    align-items: center;
    padding: 1rem 1rem;
    color: white;
  }

  .navigation .card-infopanel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
  }

  .navigation .card-infopanel .card-infopanel-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .logo {
    min-width: 95%;
    position: absolute;
    text-align: right;
    padding: 1rem;
    user-select: none;
    pointer-events: none;
  }

  .tickets-list {
    padding: 2rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info {
    padding: 2rem 2rem;
  }

  .stats {
    padding: 2rem 2rem;
  }

  .center {
    text-align: center;
  }

  .center::after {
    content: '';
    display: block;
    margin: auto;
    background: rgb(24, 109, 38);
    width: 3rem;
    height: 3px;
  }